nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar-brand {
  width: 120px;
  text-align: center;
  background-color: rgb(230, 123, 23);
  color: #ffffff;
}

.navbar-brand:hover {
  background-color: rgb(255, 166, 77);
}
