<div class="app-container">
  <app-navbar></app-navbar>
  <app-sidenav></app-sidenav>
  <div class="content-wrapper" style="min-height: 298px;">

    <!-- Main content -->
    <section class="content">

      <router-outlet></router-outlet>

    </section>
    <!-- /.content -->
  </div>
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      OurBigKitchen
    </div>
    <!-- Default to the left -->
    <strong>Created with ❤️ by <a href="https://github.com/alaphao/obk-web/graphs/contributors">Volunteers</a>.</strong>
  </footer>
</div>
