<div class="sidenav-container">
  <div class="content">
    <ul class="nav-list">
      <li class="list-item" [routerLink]="['']">
        <i class="fa fa-tachometer fa-2x" aria-hidden="true"></i>
        <br/>
        <span>Dashboard</span>
      </li>
      <li class="list-item" [routerLink]="['', 'events']">
        <i class="fa fa-list fa-2x" aria-hidden="true"></i>
        <br/>
        <span>Events</span>
      </li>
      <li class="list-item">
        <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
        <br/>
        <span>Logout</span>
      </li>
    </ul>
  </div>
</div>
